<%- include('../partials/header.ejs') %>
     <section>
        <h1 class="font-medium text-center leading-tight text-5xl mt-0 mb-2">Add New Event</h1>
        <div class="flex items-center justify-center bg-gray-100">
            <div class="px-8 py-6 my-12 text-left bg-white shadow-lg">
                <form action="/events/createEvent" method='POST' id="createEventForm">
                    <div class="mt-4">
                        <div>
                            <label class="block" for="eventItem">Event Name:<label>
                                <input
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1"
                                    type="text"
                                    id="title"
                                    aria-describedby="eventItem"
                                    name="eventItem"
                                    required
                                />
                        </div>
                        <div class="mt-4">
                            <div>
                                <label class="block" for="date">Event Date:<label>
                                    <input
                                        class="datepicker w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1"
                                        type="date"
                                        id="date"
                                        aria-describedby="date"
                                        name="date"
                                        required
                                    />
                            </div>
                            <div class="mt-4">
                                <div>
                                    <label class="block" for="time">Time:<label>
                                        <input
                                            class="timepicker w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1"
                                            type="time"
                                            id="time"
                                            aria-describedby="time"
                                            name="time"
                                            required
                                        />
                                </div>

                                <div class="mt-4">
                                    <div>
                                        <label class="block" for="location">Location of the Event:<label>
                                            <input
                                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1"
                                                type="text"
                                                id="location"
                                                aria-describedby="location"
                                                name="location"
                                                required
                                            />
                                    </div>

                        <div class="flex items-baseline justify-between">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   
    </section>

    <%- include('../partials/footer.ejs') %>