<!-- Footer -->
</main>
<footer>
    Social Icons
    <p class="copyright">Copyright Irina Blumenfeld &copy; 2022</p>
</footer>
<script src="/js/main.js"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>