<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d6e83434a4.js" crossorigin="anonymous"></script>
  
    <title>Plan Your Event</title>
</head>
<body class="font-body">
    <!-- Header -->
  <header id="header">

      <!-- Top Menu Start -->
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
      <div class="flex items-center justify-between md:justify-start md:space-x-10">
        <!-- Logo -->
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="/">
          <span class="sr-only">Plan It</span>
          <img class="h-40 w-auto" src="/images/PlanIt.png" alt="Logo">
          </a>
        </div>

        <!-- Mobile Menu Hamburger -->
        <div class="-my-2 -mr-2 md:hidden">
          <button type="button" class="mobile-menu-button inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-900 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-darkgreen" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/bars-3 -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          </button>
        </div>
              
          <!-- Large and Medium screens menu -->
        <nav class="hidden space-x-10 md:flex">
          <a href="/" class="text-gray-500 hover:text-gray-900">HOME</a>
          <% if(user) { %>
          <a href="/events" class="text-gray-500 hover:text-gray-900">EVENTS</a>
          <a href="#" class="text-gray-500 hover:text-gray-900">CREATE EVENT</a>
          <% } %>
          <a href="#" class="text-gray-500 hover:text-gray-900">FIND AN EVENT</a>
        </nav>

        <!-- CTA buttons -->
        <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
          <% if(!user) { %>
          <a href="/signup" class="btn-cta whitespace-nowrap" >Sign Up</a>
          <a href="/login" class="btn ml-8 inline-flex items-center justify-center whitespace-nowrap shadow-sm">Login</a>
          <% }  else { %>
          <a href="/events"><%=user.userName.toUpperCase()%></a>
          <a class="btn ml-8 inline-flex items-center justify-center whitespace-nowrap shadow-sm" href="/logout">Logout</a>
            <% } %>
        </div>
            
      </div>

      <!-- Mobile Menu -->
      <div class="hidden mobile-menu">
        <div class="text-lg lg:flex-grow">
          <a href="/" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
            Home
          </a>
          <% if(user) { %>
          <a href="/events" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
            Events
          </a>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0">
            Create Event
          </a>
          <% } %>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0">
            Find Event
          </a>
          <% if(!user) { %>
          <a href="/signup" class="btn-cta block mt-4 text-center" >Sign Up</a>
          <a href="/login" class="btn block text-center mt-4 shadow-sm">Login</a>
          <% }  else { %>
          <a href="/events" class="block mt-4 lg:inline-block lg:mt-0">Hi <%=user.userName.toUpperCase()%></a>
          <a class="btn block text-center mt-4 shadow-sm" href="/logout">Logout</a>
              <% } %>
        </div>
      </div>

  </div>
  </header>

  <main class="bg-gray-100 p-8">

    