<%- include('partials/header.ejs') %>
    <!-- Banner -->
    <section id="banner">
        <h1>Plan Your Next Event</h1>
        <ul class="cta">
            <li><a href="/signup" role="button" class="button-primary">Sign Up</a></li>
            <li><a href="/login" role="button" class="button">Log In</a></li>
        </ul>
    </section>

        <!-- Main -->
    <section id="#main">
        	<section class="box">
				<h2>Latest Events</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
						adipiscing nunc adipiscing. Condimentum turpis massa.</p>
			</section>
    </section>

    <%- include('partials/footer.ejs') %>