* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #264653;
    --bg-variant: #2A9D8F;
    --color-primary: #E9C46A;
    --color-primary-variant: #F4A261;
    --color-secondary: #E76F51;
    --font-color: #fff;
    --color-light: #E9C46A;
    --alt-font-color: #000;
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --radius: 7px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
}

/********** CTA ************/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.form-control {
    border-radius: var(--radius);
    border: 1.5px solid var(--color-primary);
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid var(--color-primary-variant);
    letter-spacing: 1px;
}

.button {
    width: max-content;
    font-weight: 500;
    color: var(--bg-color);
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    padding: 0.5rem 2rem;
    background-color: var(--color-primary);
}

.button:hover {
    background-color: var(--color-primary-variant);
    color: black;
    border-color: transparent;
}

.button-primary {
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--bg-color);
    transition: var(--transition);
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--bg-variant);
    color: var(--font-color);
    border-color: transparent;
}

#banner {
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232a9d8f' fill-opacity='0.14'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: var(--font-color);
    padding: 12em 0 20em 0;
    text-align: center;
}

#footer {
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.events-container {
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f4a261' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 2rem;
    margin: 1rem 0;
}

.card {
    border: 1px solid gray;
    padding: 1rem;
    text-align: center;
}

.box {
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}

nav {
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.text-highlight {
    color: var(--bg-variant);
}
