<section class="text-center px-5 d-flex justify-content-center my-5">
    <div class="w-75">
        <h2 class="mb-4 text-success">Server Error</h2>
        <p class="mb-5">We are sorry, something went wrong</p>
        <a href="/" class="btn">Go Back</a>
    </div>
</section class="mb-5">